.a{
    border: 3px solid black;
    display: inline-block;
    margin-top: 5px;
}
.b{
    border-style: dotted;
    display:inline-block;
    margin-top: 5px;
    
}
.c{
    border-style: dashed;
    display: inline-block;
    margin-top: 5px;
}
.d{
    border-style: double;
    display: inline-block;
    margin-top: 5px;
}
.e{
    border-style: groove;
    display: inline-block;
    margin-top: 5px;
}
.f{
    border-style: inset;
    display: inline-block;
    margin-top: 5px;
}
.g{
    border-style: outset;
    display: inline-block;
    margin-top: 5px;
}
.h{
    border-style: ridge;
    display: inline-block;
    margin-top: 5px;
}
.i{
    display: block;
    background-color: green;
    opacity: 0.1;
}
.j{
    display: block;
    background-color: green;
    opacity: 0.3;
}
.k{
    display: block;
    background-color: green;
    opacity: 0.6;
}
.l{
    display: block;
    background-color: green;
    opacity: 1;
}
.m{
    display: block;
    background-color: rgba(154, 70, 70,0.1);
}
.n{
    display: block;
    background-color: rgba(154, 70, 70,0.3)
}
.o{
    display: block;
    background-color: rgba(154, 70, 70,0.6)
}
.p{
    display: block;
    background-color: rgba(154, 70, 70)
}
#box{
    border: 1px solid red;
    padding: 50px;
}
h2{
    text-decoration: underline;
    text-align: center;
    text-shadow:5px 2px palevioletred;
    color: red;
}
.q{
    border: 5px solid blue;
    display: inline-block;
    font-size: 25px;
    width: 30%;
    margin-bottom: 10px;
}
.r{
    border-right: 5px solid blue;
    border-left: 5px solid green;
    border-top: 5px solid pink;
    border-bottom: 5px solid yellow;
    display: inline-block;
    font-size: 25px;
    width: 30%;
    margin-bottom: 10px;
}